<header id="header">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">					
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
			</div>

			<div class="collapse navbar-collapse" id="example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="{{ site.baseurl }}/01-swipebox">Swipebox <span class="sr-only">(current)</span></a></li>
					<li><a href="{{ site.baseurl }}/02-magnificpopup">Magnific Popup</a></li>				
					<li><a href="{{ site.baseurl }}/03-photoswipe">PhotoSwipe</a></li>
					<li><a href="{{ site.baseurl }}/04-lightcase">Lightcase</a></li>
					<li><a href="{{ site.baseurl }}/05-fluidbox">fluidbox</a></li>
					<li><a href="{{ site.baseurl }}/06-lightbox2">lightbox2</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
</header>